.menu-btn{
    color: #00ff8c;
}
.book-btn{
	color: #0073ff;	
}
.delete-btn{
	color: #ff0073;	
}

.export_csv_btn{
	width: 80px;
	height: 40px;	
}

.export_csv_btn img{
	height: 100%;
	cursor: pointer;
}

.toolbar{
	text-align: right;
}

@media screen and (max-width: 767px){
	.toolbar{
		text-align: center;
	}
}